[Unit]
# Copy this file to /etc/systemd/system/uwsgi-chordfrb.service
Description=CHORD/FRB uWSGI service
# Requirements
Requires=network.target
# Dependency ordering
After=network.target

[Service]
TimeoutStartSec=0
RestartSec=10
Restart=always
KillSignal=SIGQUIT
Type=forking
NotifyAccess=all
WorkingDirectory=/home/dstn/chord/chord-frb-sifter
User=dstn
#Environment="PYTHONPATH=/home/nova" "PATH=/usr/local/bin:"
ExecStart=/home/dstn/chord/chord-frb-sifter/chord_frb_web/uwsgi.sh

[Install]
WantedBy=multi-user.target
