<h3>CHORD/FRB Events</h3>

<p>Total number of events: {{ event_pager.total }}</p>

<p>On this page: {{ event_pager.first }} to {{ event_pager.last }} of {{ event_pager.total }}
</p>

<p>Pages:
  {% for page in event_pager.iter_pages() %}
  {% if page %}
  {% if page != event_pager.page %}
  <a href="{{ url_for('event_list', page=page) }}">{{ page }}</a>
  {% else %}
  <strong>{{ page }}</strong>
  {% endif %}
  {% else %}
  <span class=ellipsis>…</span>
  {% endif %}
      {% endfor %}

<p>
  <table border=1>
    <tr>
      {% for field in fields %}
      <th>{{field}}</th>
      {% endfor %}
      </tr>
    {% for event in events %}
    <tr>
      {% for field in fields %}
      <td>
	{% if field in ['total_snr', 'dm', 'dm_ne2001', 'dm_ymw2016'] %}
	{% if event[field] %}
	{{ event[field]|round(2) }}
	{% else %}
	{{ event[field] }}
	{% endif %}
	{% elif field == 'nbeams' %}
	  <a href="{{ url_for('l1_event_list', event_id=event['event_id']) }}">{{ event[field] }}</a>
	{% else %}
	  {{ event[field] }}
	{% endif %}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</p>

<center>
  <img src="{{ url_for('event_plot') }}"/>
</center>
